.container{
    
    text-align: center;

}

.grid{
    background: #ccc;
    text-align: center;
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
}
.weather{
    font-size: 23px;
    margin: 0;
}
.temp{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}
.hum{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}
.press{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}
.btn{
    font-size: 15px;
    font-weight: bold;
}